* {
    padding: 0px;
    margin: 0px;
}
.row-1 {
   
    height: 150px;
    background: rgb(77, 4, 49);
    text-align: center;
}
.row-2 {
    height: 50px;
    background: rgb(155, 4, 117);
    text-align: center;
}
.row-3 {
    display: flex;
    justify-content: flex-start;
} 
.box-1 {
    height: 300px;
    width: 75%;
    background: rgb(77, 4, 49);
    text-align: center;
    display: flex;
    
}
.box-2 {
    height:  300px;
    width: 25%;
    background: rgb(204, 115, 197);
    text-align: center;
    display: flex;
   
}
.row-4 {
    height: 150px;
    background: rgb(231, 21, 66);
    text-align: center;
   
}