*{
    margin: 0px;
    padding: 0px;
}
.top{
    height: 300px;
    background: rgb(44, 44, 223);
    display: flex;
    justify-content: space-around;
}
.top > div{
    width: 50%;
}
.middle{
    height: 300px;
    background: rgb(116, 116, 233);
}
.last{
    height: 200px;
    background: rgb(61, 61, 104);
    display: flex;
    justify-content: space-around;
}
.last>div{
    width: 33%;
}